fabric3
django<=1.11.7
djangorestframework
django-filter
django-crontab
opencv_python<=3.4.2.16
mysqlclient
gputil
opencv-contrib-python
scipy>=1.0.0
scikit-surprise
demjson
django-cors-headers
aliyun-python-sdk-core
aliyun-python-sdk-imagesearch
keras=2.2.4