fabric3
django<=1.11.7
django-sslserver
djangorestframework
django-filter
django-crontab
opencv_python<=3.4.2.16
mysqlclient
opencv-contrib-python
demjson
django-cors-headers
aliyun-python-sdk-core
aliyun-python-sdk-imagesearch
keras==2.2.0
pymysql

